body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.nav{
    display: flex;
    width: 50vw;
    margin: auto;
    top: 25px;
}
.link{
    color: #7caeb3;
    margin: auto;
    padding: 10px;
}

.hero_img{
    background-repeat: no-repeat;
}
.title_box{
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    font-size: 2em;
    color: rgb(233, 185, 141);
    margin-left: 50px;
    width: calc(100% - 200px);
    text-shadow: 0 2px 2px rgb(1, 1, 1, .5);
}

.title_words{
    display: inline-block;
}

.title_words span{
    /* font-size: 2.5em; */
    
    position: absolute;
    top: 0;
    margin-left: 10px;
    overflow: hidden;
    animation: animate 6s linear forwards;
    opacity: 0;
    color:#7caeb3;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    2%{
        opacity: 1;
        transform: translateY(0px);
    }
    18%{
        opacity: 1;
        transform: translateY(0px);
    }
    20%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(50px);
    }
}
.title_words span:nth-child(1){
    animation-delay: 0s;
}
.title_words span:nth-child(2){
    animation-delay: 2s;
}
.title_words span:nth-child(3){
    animation-delay: 4s;
}
.title_words span:nth-child(4){
    animation-delay: 6s;
}
